# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET build
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
packages/
*.nupkg

# OneDrive junk
Thumbs.db
Desktop.ini

# Logs
*.log